.nav-container {
    background-color: #29acf6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.txtStory {
    min-height: 50px;
    max-height: 100px;
}

.story-card-heading {
    font-size: 15px;
    text-decoration: underline;
}